@font-face {
    font-family: "AMGDT";
    src: url("../assets/fonts/AMGDT.ttf");
}

@font-face{
    font-family: "ISO";
    src: url("../assets/fonts/ISOCP3.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}